{% extends 'base.html' %}

{% block content %}

        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!-- Content section -->
            <section aria-label="section" class="mt90 sm-mt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{ url_for('static', filename='images/wallet-address.jpg') }}" class="img-fluid img-rounded mb-sm-30" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="item_info">
                                <h2>Fund Account with 0.12ETH ($200) or more to continue</h2>
                                <p>Scan the QR code to send funds to this wallet address.</p>

                                <div class="spacer-20"></div>
                                <h4>
                                    <div class="nft-item-price"><img src="{{ url_for('static', filename='images/misc/ethereum.svg') }}" alt=""></div>
                                    <span id="wallet" class="profile_wallet">0x0a6e45730d7A3422E2D5649b9c8C80E1130A1668</span>
                                    <button id="btn_copy" title="Copy Text">Copy</button>
                                </h4>

                                <div class="spacer-40"></div>
                                <h4>Upload Proof of Payment</h4>
                                <!-- Button trigger modal -->
                                <div class="spacer-20"></div>
                                <a href="#" class="btn-main btn-lg" data-bs-toggle="modal" data-bs-target="#upload_proof_modal">
                                    Upload
                                </a>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Modal for uploading proof of payment -->
            <div class="modal fade" id="upload_proof_modal" tabindex="-1" aria-labelledby="upload_proof_modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered de-modal">
                    <div class="modal-content">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-body">
                            <div class="p-3 form-border">
                                <h5>Upload Proof of Payment</h5>

                                <div class="d-create-file">
                                    <p id="file_name">PNG, JPG, GIF, WEBP or MP4. Max 200mb.</p>
                                    <input type="button" id="get_file" class="btn-main" value="Browse">
                                    <input type="file" id="upload_file">
                                </div>

                                <div class="spacer-single"></div>
                                <a href="{{ done }}" target="_blank" class="btn-main btn-fullwidth">Upload</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
             </div>
            </div>
        </div>
        </div>
{% endblock %}