{% extends 'base.html' %}

{% block content %}
    
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader">

                <div class="center-y relative text-center mt-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Contact</h1>
                                                         
                                <div class="spacer-20"></div>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- section close -->
            <!-- section begin -->
<section aria-label="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb25">
                <div class="feature-box f-boxed style-3 text-center">
                    <div class="text">
                        <h4>Telegram</h4>
                        <p>Contact Us on Telegram</p>
                        <a href="Https:/t.me/VisualNft" class="btn-main">Telegram</a>
                    </div>
                </div>
            </div>    

            <div class="col-lg-4 col-md-6 mb25">
                <div class="feature-box f-boxed style-3 text-center">
                    <div class="text">
                        <h4>Call Us</h4>
                        <p>Call us here</p>
                        <a href="tel:+1 (301) 997-2320" class="btn-main">Call</a>
                    </div>
                </div>
            </div>  

            <div class="col-lg-4 col-md-6 mb25">
                <div class="feature-box f-boxed style-3 text-center">
                    <div class="text">
                        <h4>Email</h4>
                        <p>Send us an email</p>
                        <a href="mailto:YOUR_EMAIL_ADDRESS" class="btn-main">Email</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}