<!DOCTYPE html>
<html lang="en">

<head>
    <title>VisualNFT - NFT Marketplace Website</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo-scroll.png') }}" type="image/gif" sizes="16x16" />
    <meta charset="utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VisualNFT - NFT Marketplace Website">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!--Template style -->
    <link id="bootstrap" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link id="bootstrap-grid" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link id="bootstrap-reboot" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/owl.theme.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/owl.transitions.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/jquery.countdown.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <!-- color scheme -->
    <link id="colors" href="{{ url_for('static', filename='css/colors/scheme-06.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ url_for('static', filename='css/coloring.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/de-black.css') }}" rel="stylesheet" type="text/css" />

</head>

<body class="dark-scheme de-black">
    <div id="wrapper">

        <!-- Header Begins-->
        <header class="transparent scroll-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">

                                    <!--logo start-->
                                    <div id="logo">
                                        <a href="{{ url_for('index') }}" class="de-flex-col">
                                            <img alt="" class="logo-default"
                                                src="{{ url_for('static', filename='images/logo.png') }}" />
                                        </a>
                                    </div>
                                    <!--logo end-->
                                </div>
                                <div class="de-flex-col">
                                    <input id="quick_search" class="xs-hide style-2" name="quick_search" placeholder="search item here..." type="text" />
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li>
                                        <a href="{{ url_for('index') }}">Home<span></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('explore') }}">Explore<span></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('contact') }}">Contact Us<span></span></a>
                                    </li>
                                </ul>
                                <!-- mainmenu close -->
                                <div class="menu_side_area">
                                    <div class="de-login-menu">
                                        <a href="{{ url_for('create_options') }}" class="btn-main btn-wallet"><i class="icon_wallet_alt"></i><span>Create</span></a>
                                
                                        <span id="de-click-menu-notification" class="de-menu-notification">
                                            <span class="d-count">{{ notification_count }}</span>
                                            <i class="fa fa-bell"></i>
                                        </span>
                                
                                        <span id="de-click-menu-profile" class="de-menu-profile">
                                            <img src="{{ url_for('static', filename='images/author_single/author_thumbnail.jpg') }}" class="img-fluid" alt="">
                                        </span>
                                
                                        <div id="de-submenu-notification" class="de-submenu">
                                            <div class="de-flex">
                                                <div><h4>Notifications</h4></div>
                                                <a href="#">Show all</a>
                                            </div>
                                
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <img class="lazy" src="{{ url_for('static', filename='images/author/author-2.jpg') }}" alt="">
                                                        <div class="d-desc">
                                                            <span class="d-name"><b>Mamie Barnett</b> started following you</span>
                                                            <span class="d-time">1 hour ago</span>
                                                        </div>
                                                    </a>  
                                                </li>
                                                <!-- Other notification items... -->
                                            </ul>
                                        </div>
                                
                                        <div id="de-submenu-profile" class="de-submenu">
                                            <div class="d-name">
                                                <h4>{{ current_user.firstname }} {{ current_user.lastname }}</h4>
                                                <a href="{{ url_for('profile_update') }}">Set display name</a>
                                            </div>
                                            <div class="spacer-10"></div>
                                            <div class="d-balance">
                                                <h4>Balance</h4>
                                                {{ current_user.account_funds }} ETH
                                            </div>
                                                                                    
                                            <div class="d-line"></div>
                                
                                            <ul class="de-submenu-profile">
                                                <li><a href="{{ url_for('user_dashboard') }}"><i class="fa fa-user"></i> My profile</a></li>
                                                <li><a href="{{ url_for('profile_update') }}"><i class="fa fa-pencil"></i> Edit profile</a></li>
                                                <li><a href="{{ url_for('logout')}}"><i class="fa fa-sign-out"></i> Log out</a></li>
                                            </ul>
                                        </div>
                                        <span id="menu-btn"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
           <!-- Subheader section -->
            <section id="subheader">
                <div class="center-y relative text-center mt-30">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="col text-center">
                                    <div class="spacer-single"></div>
                                    <h1>Manage Funds</h1>
                                    <div class="spacer-20"></div>
                                    <h4>{{ current_user.account_funds }} ETH</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Fund management options -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>Add Funds</h4>
                                    <p>Add funds to purchase NFTs</p>
                                    <a href="{{ url_for('add_funds') }}" class="btn-main">Here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>Withdraw</h4>
                                    <p>Withdraw funds from here</p>
                                    <a href="#" class="btn-main btn-lg" data-bs-toggle="modal" data-bs-target="#buy_now">
                                        Withdraw Funds
                                      </a>
                                      &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb25">
                            <div class="feature-box f-boxed style-3 text-center">
                                <div class="text">
                                    <h4>Transaction History</h4>
                                    <p>View Transaction history here</p>
                                    <a href="#" class="btn-main">Here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- buy now -->
            <div class="modal fade" id="buy_now" tabindex="-1" aria-labelledby="buy_now" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered de-modal">
                    <div class="modal-content">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="p-3 form-border">
                            <h3>Withdraw</h3>
                            You are about to Withdraw
                            <div class="spacer-single"></div> 
                            <div id="item_collection" class="dropdown fullwidth mb20">
                                <a href="#" class="btn-selector">Select Wallet</a>
                                <ul>
                                    <li><span>Ethereum wallet</span></li>
                                </ul>
                            </div>
                            <div class="spacer-single"></div>
                            <h6>Enter Wallet Address <span class="id-color-2"></span></h6>
                            <input type="text" name="buy_now_qty" id="buy_now_qty" class="form-control" placeholder="Enter wallet Address" />
                            <div class="spacer-single"></div>
                            <h6>Enter Amount. <span class="id-color-2"></span></h6>
                            <input type="text" name="buy_now_qty" id="buy_now_qty" class="form-control" value="1" />
                            <div class="spacer-single"></div>
                            <div class="de-flex">
                                <div>Your balance</div>
                                <div><b>{{ current_user.account_funds }} ETH</b></div>
                            </div>
                
                            <div class="spacer-single"></div>
                            <a href="{{ purchase }}" target="_blank" class="btn-main btn-fullwidth">Withdraw</a>
                        </div>
                    </div>
                    </div>
                </div>




        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-1">
                        <div class="widget">
                            <h5>Marketplace</h5>
                            <ul>
                                <li><a href="#">All NFTs</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Domain Names</a></li>
                                <li><a href="#">Virtual World</a></li>
                                <li><a href="#">Collectibles</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-1">
                        <div class="widget">
                            <h5>Resources</h5>
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Suggestions</a></li>
                                <li><a href="#">Discord</a></li>
                                <li><a href="#">Docs</a></li>
                                <li><a href="#">Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-1">
                        <div class="widget">
                            <h5>Community</h5>
                            <ul>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Mailing List</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-1">
                        <div class="widget">
                            <h5>Newsletter</h5>
                            <p>
                                Signup for our newsletter to get the latest news in your
                                inbox.
                            </p>
                            <form action="blank.php" class="row form-dark" id="form_subscribe" method="post"
                                name="form_subscribe">
                                <div class="col text-center">
                                    <input class="form-control" id="txt_subscribe" name="txt_subscribe"
                                        placeholder="enter your email" type="text" />
                                    <a href="#" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <div class="spacer-10"></div>
                            <small>Your email is safe with us. We don't spam.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    <a href="index.html">
                                        <span class="copy">&copy; Copyright 2023 - VisualNFT</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- footer close -->
    </div>
        <!-- content close --> 
<!-- Javascript Files
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/enquire.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countTo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.lazy.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.lazy.plugins.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/designesia.js') }}"></script>
    
    <script>
        function copyItemLink(link) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(link).select();
            document.execCommand("copy");
            $temp.remove();
            alert("Link copied to clipboard");
        }
    </script>
</body>

</html>