{% extends 'base.html' %}

{% block content %}
        <!--header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12 text-center">
									<h1>Edit Profile</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <!-- section begin -->
            <section id="section-main" aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <form id="form-create-item" class="form-border" method="post" action="{{ url_for('profile_update') }}" enctype="multipart/form-data">
                                <div class="de_tab tab_simple">

                                    <ul class="de_nav">
                                        <li class="active"><span><i class="fa fa-user"></i>Profile</span></li>
                                        <li><span><i class="fa fa-exclamation-circle"></i>Notifications</span></li>
                                        <li><span><i class="fa fa-paint-brush"></i>Appearance</span></li>
                                    </ul>

                                    <div class="de_tab_content">
                                        <div class="tab-1">
                                            <div class="row wow fadeIn">
                                                <div class="col-lg-8 mb-sm-20">
                                                    <div class="field-set">
                                                        
                                                            <h5>Username</h5>
                                                            <input type="text" name="username" id="username" class="form-control"
                                                                placeholder="Enter username" />

                                                            <div class="spacer-20"></div>

                                                            <h5>Bio</h5>
                                                            <textarea name="bio" id="bio" class="form-control"
                                                                placeholder="Tell the world who you are!"></textarea>

                                                            <div class="spacer-20"></div>

                                                            <h5>Email Address</h5>
                                                            <input type="text" name="email_address" id="email_address"
                                                                class="form-control" placeholder="Enter email"/>

                                                            <div class="spacer-20"></div>

                                                            <h5><i class="fa fa-link"></i> Your site</h5>
                                                            <input type="text" name="your_site" id="your_site" class="form-control"
                                                                placeholder="Enter Website URL" />

                                                            <div class="spacer-20"></div>
                                                    

                                                    </div>
                                                </div>

                                                <div id="sidebar" class="col-lg-4">
                                                                                                
                                                        <h5>Profile image</h5>
                                                        <img src="{{ url_for('static', filename='images/uploads/' + (user.profile_picture or '../author_single/user.png')) }}" id="click_profile_img" class="d-profile-img-edit img-fluid" alt="">
                                                        <input type="file" name="upload_profile_img" id="upload_profile_img">
                                    
                                                        <div class="spacer-30"></div>
                                    
                                                        <!-- Profile Banner Upload -->
                                                        <h5>Profile banner</h5>
                                                        <img src="{{ current_user.profile_banner or url_for('static', filename='images/author_single/author_banner.jpg') }}" id="click_banner_img" class="d-banner-img-edit img-fluid" alt="">
                                                        <input type="file" name="upload_banner_img" id="upload_banner_img">
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            <div class="spacer-30"></div>
                            <input type="submit" id="submit" class="btn-main" value="Update profile">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}