<!DOCTYPE html>
<html lang="en">

<head>
    <title>VisualNFT - NFT Marketplace Website</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo-scroll.png') }}" type="image/gif" sizes="16x16" />
    <meta charset="utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VisualNFT - NFT Marketplace Website">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!--Template style -->
    <link id="bootstrap" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link id="bootstrap-grid" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link id="bootstrap-reboot" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/owl.theme.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/owl.transitions.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/jquery.countdown.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <!-- color scheme -->
    <link id="colors" href="{{ url_for('static', filename='css/colors/scheme-06.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ url_for('static', filename='css/coloring.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/de-black.css') }}" rel="stylesheet" type="text/css" />

</head>

<body class="dark-scheme de-black">
    <div id="wrapper">

        <!-- Header Begins-->
        <header class="transparent scroll-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">

                                    <!--logo start-->
                                    <div id="logo">
                                        <a href="{{ url_for('index') }}" class="de-flex-col">
                                            <img alt="" class="logo-default"
                                                src="{{ url_for('static', filename='images/logo.png') }}" />
                                        </a>
                                    </div>
                                    <!--logo end-->
                                </div>
                                <div class="de-flex-col">
                                    <input id="quick_search" class="xs-hide style-2" name="quick_search" placeholder="search item here..." type="text" />
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li>
                                        <a href="{{ url_for('index') }}">Home<span></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('explore') }}">Explore<span></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('contact') }}">Contact Us<span></span></a>
                                    </li>
                                </ul>
                                <!-- mainmenu close -->
                                <div class="menu_side_area">
                                    <a href="{{ url_for('login') }}" class="btn-main btn-wallet"><i class="icon_wallet_alt"></i><span>Get Started</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--header close -->

        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
			
			<section class="full-height relative no-top no-bottom vertical-center">
                <div class="overlay-gradient t50">
					<div class="center-y relative">
						<div class="container">
							<div class="row align-items-center">
								
								<div class="col-lg-4 offset-lg-4 wow fadeIn bg-color" data-wow-delay=".5s">
                                    <div class="padding40 d-border">
                                        <h3 class="mb10">Register</h3>
                                        <p>create a new account or Login using an existing account <a href="{{ url_for('login') }}">here<span></span></a>.</p>
                                        <form name="contactForm" id='contact_form' class="form-border" method="post" action="{{ url_for('register') }}">
                                
                                            <div class="field-set">
                                                <input type='text' name='FisrtName' id='fname' class="form-control" placeholder="FisrtName">
                                            </div>

                                            <div class="field-set">
                                                <input type='text' name='LastName' id='lname' class="form-control" placeholder="LastName">
                                            </div>

                                            <div class="field-set">
                                                <input type='text' name='Username' id='uname' class="form-control" placeholder="userName">
                                            </div>

                                            <div class="field-set">
                                                <input type='text' name='email' id='email' class="form-control" placeholder="email">
                                            </div>
                                
                                            <div class="field-set">
                                                <input type='password' name='password' id='password' class="form-control" placeholder="password">
                                            </div>

                                            <div class="field-set">
                                                <input type='text' name='confirm_password' id='confirm_password' class="form-control" placeholder="Confirm password">
                                            </div>

                                
                                            <div class="field-set">
                                                <input type='submit' id='send_message' value='Register' class="btn btn-main btn-fullwidth color-2">
                                            </div>
                                
                                            <div class="clearfix"></div>
                                
                                            <div class="spacer-single"></div>
                                
                                        </form>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</section>		
            
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-1">
                            <div class="widget">
                                <h5>Marketplace</h5>
                                <ul>
                                    <li><a href="#">All NFTs</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Domain Names</a></li>
                                    <li><a href="#">Virtual World</a></li>
                                    <li><a href="#">Collectibles</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-1">
                            <div class="widget">
                                <h5>Resources</h5>
                                <ul>
                                    <li><a href="#">Help Center</a></li>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">Suggestions</a></li>
                                    <li><a href="#">Discord</a></li>
                                    <li><a href="#">Docs</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-1">
                            <div class="widget">
                                <h5>Community</h5>
                                <ul>
                                    <li><a href="#">Community</a></li>
                                    <li><a href="#">Documentation</a></li>
                                    <li><a href="#">Brand Assets</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Forum</a></li>
                                    <li><a href="#">Mailing List</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-1">
                            <div class="widget">
                                <h5>Newsletter</h5>
                                <p>
                                    Signup for our newsletter to get the latest news in your
                                    inbox.
                                </p>
                                <form action="blank.php" class="row form-dark" id="form_subscribe" method="post"
                                    name="form_subscribe">
                                    <div class="col text-center">
                                        <input class="form-control" id="txt_subscribe" name="txt_subscribe"
                                            placeholder="enter your email" type="text" />
                                        <a href="#" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                                <div class="spacer-10"></div>
                                <small>Your email is safe with us. We don't spam.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subfooter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="de-flex">
                                    <div class="de-flex-col">
                                        <a href="index.html">
                                            <span class="copy">&copy; Copyright 2023 - VisualNFT</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        <!-- footer close -->
        </div>
    
        <!-- Javascript Files
        ================================================== -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/easing.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
        <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/enquire.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.plugin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.countTo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.lazy.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.lazy.plugins.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/designesia.js') }}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Get a reference to the login form and send_message button
                var loginForm = document.getElementById("contact_form");
                var sendButton = document.getElementById("send_message");
                
                // Add a click event listener to the button
                sendButton.addEventListener("click", function(event) {
                    // Prevent the default form submission behavior
                    event.preventDefault();
                    
                    // Submit the login form programmatically
                    loginForm.submit();
                });
            });
            </script>
    </body>
    
    </html>